alembic==1.8.1
astor==0.8.1
boto3==1.24.86
botocore==1.27.86
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
cloudpickle==2.2.0
colorama==0.4.4
cycler==0.11.0
Cython==0.29.23
databricks-cli==0.17.3
decorator==5.1.1
docker==6.0.0
entrypoints==0.4
et-xmlfile==1.1.0
filelock==3.4.2
Flask==2.0.3
fonttools==4.29.1
gensim==4.1.2
gitdb==4.0.9
GitPython==3.1.27
GPUtil==1.4.0
greenlet==1.1.3
gunicorn==20.1.0
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.13.0
importlib-resources==5.9.0
itsdangerous==2.1.0
jieba==0.42.1
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.1.0
kiwisolver==1.3.2
loguru==0.6.0
lxml==4.7.1
Mako==1.2.3
MarkupSafe==2.1.0
matplotlib==3.5.1
mlflow==1.29.0
numpy==1.22.2
oauthlib==3.2.1
opencc-python-reimplemented==0.1.6
openpyxl==3.0.9
packaging==21.3
paddlepaddle==2.2.2
pandas==1.4.1
Pillow==9.0.1
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
protobuf==4.21.7
PyJWT==2.5.0
PyMuPDF==1.19.6
PyMySQL==1.0.2
pyparsing==3.0.7
python-dateutil==2.8.2
python-docx==0.8.11
python-pptx==0.6.21
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
querystring-parser==1.2.4
regex==2022.1.18
requests==2.27.1
s3transfer==0.6.0
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
SQLAlchemy==1.4.41
sqlparse==0.4.3
tabulate==0.8.10
termcolor==1.1.0
text2vec==1.0.4
threadpoolctl==3.1.0
tokenizers==0.11.4
torch==1.10.2
tqdm==4.62.3
transformers==4.16.2
typing_extensions==4.1.0
urllib3==1.26.8
websocket-client==1.4.1
Werkzeug==2.0.3
win32-setctime==1.1.0
wincertstore==0.2
xgboost==1.2.0
XlsxWriter==3.0.2
zipp==3.8.1
